<div id = "top" >
 <h1 align="center">A_NOT_B Gate</h1>
</div>
<div class="row">
 <div class="column side">
   <%= form_tag("/a_not_b_gate", method: :post) %>
   <input type="hidden" name="gate" value="A_NOT_B">