<div id = "top" >
 <h1 align="center">FALSE Gate</h1>
</div>
<div class="row">
 <div class="column side">
   <%= form_tag("/false_gate", method: :post) %>
   <input type="hidden" name="gate" value="FALSE">