<div id = "top" >
 <h1 align="center">NOT_A Gate</h1>
</div>
<div class="row">
 <div class="column side">
   <%= form_tag("/not_a_gate", method: :post) %>
   <input type="hidden" name="gate" value="NOT_A">