<div id = "top" >
  <h1 align="center">OR Gate</h1>
</div>
<div class="row">
  <div class="column side">
    <%= form_tag("/or_gate", method: :post) %>
    <input type="hidden" name="gate" value="OR">
